body {
    display: flex;
    justify-content: center;
    background-color: #22878f;
    overflow-y: scroll;
}

#app {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 1.3em;
    text-align: left;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.baseline {
    text-align: left;
    font-style: italic;
    margin: .6rem 0;
}

.desc {
    display: none;
    margin-top: 2.1rem;
}

.instruction {
    display: none;
    line-height: 1.3rem;
    margin-top: 7.6rem;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: .9em;
}

.label {
    margin-bottom: .4rem;
}

.inputLabelContainer {
    display: flex;
    flex-direction: column;
    margin: .8rem 0 1rem;
}

.input {
    border: none;
    height: 1.5rem;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
}

.button {
    width: 1.9rem;
    height: 1.7rem;
    text-align: center;
    padding: 0;
    margin: 1.1rem auto 2.1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #000000;
    font-weight: bold;
    color: #ffffff;
}

.button:hover {
    background-color: rgb(255, 147, 223);
    color: #000000;
}

@media screen and (min-width: 300px) {
    .ink-container-content-small {
        display: block;
        width: 100%;
    }
    
    .ink-container-content-medium {
        display: none; 
    }

    .ink-container-content-large {
        display: none;  
    }

    .ink-container-content-extra-large {
        display: none;  
    }

    .title-form-results {
        margin-top: 2rem;
        padding: 0 1.2rem;
    }

    .form-results {
        margin-top: 1.7rem;
    }
}

@media screen and (min-width: 426px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: block;
        width: 100%;
    }

    .ink-container-content-large {
        display: none;  
    }

    .ink-container-content-extra-large {
        display: none;  
    }
}

@media screen and (min-width: 700px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: none;
    }

    .ink-container-content-large {
        display: block;
        width: 100%;
    }

    .ink-container-content-extra-large {
        display: none;
    }

    .title-form-results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .baseline {
        text-align: center;
        margin: 1.3rem 0 0;
    }

    .form-results {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        font-size: .9em;
        width: 22rem;
        margin: 0;
    }
}

@media screen and (min-width: 1023px) {
    .title-form-results {
        flex-direction: row;
        width: 60rem;
        margin: 6rem auto 0;
        align-items: flex-start;
    }

    .title-baseline {
        width: 50%;
    }

    .title {
        padding: 0;
        text-align: left;
        width: 90%;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .baseline {
        padding: 0;
        text-align: left;
        font-size: 1.2em;
        margin-top: 1.5rem;
    }

    .desc {
        display: block;
    }

    .instruction {
        display: block;
    }

    .title-results {
        width: 50%;
    }

    .form-results {
        margin: 0;
        align-items: center;
    }

    .form {
        padding: 0;
    }

    .inputLabelContainer {
        margin: 1rem 0 2rem;
    }

    .button {
        margin: 1.1rem auto 3.1rem;
    }

    .result {
        padding: 0;
        width: 22rem;
    }

}

@media screen and (min-width: 1400px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: none;
    }

    .ink-container-content-large {
        display: none;
    }

    .ink-container-content-extra-large {
        display: block;
        width: 100%;
    }
}


