@media screen and (min-width: 300px) {
    body {
        display: flex;
        justify-content: center;
    }

    #app {
        margin-top: 10rem;
        width: 21rem;
    }

    .title {
        font-size: 1.5em;
        text-align: center;
        margin: 1rem 0;
    }

    .baseline {
        text-align: center;
        color: rgb(99s, 155, 187);
        font-style: italic;
        margin: 1.5rem 0;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .label {
        margin-bottom: .7rem;
    }

    .inputLabelContainer {
        display: flex;
        flex-direction: column;
        margin: .8rem 0 1rem;
    }

    .button {
        width: 1.9rem;
        height: 1.7rem;
        text-align: center;
        padding: 0;
        margin: .8rem auto;
    }

    .result {
        margin-top: 1.5rem;
    }
}