body {
    display: flex;
    justify-content: center;
    background-color: #22878f;
    overflow-y: scroll;
}

#app {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 4vh;
    text-align: left;
    line-height: 4.9vh;
    letter-spacing: 0.1vw;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.baseline {
    text-align: left;
    font-style: italic;
    margin: 2.7vh 0;
    font-size: 2.7vh;
}

.desc {
    display: none;
    margin-top: 4vh;
}

.instruction {
    display: none;
    line-height: 3.6vh;
    margin-top: 18.2vh;
    font-size: 2.5vh;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: .8vh;
}

.label {
    margin-bottom: 1vh;
    font-size: 1.8vh;
}

.inputLabelContainer {
    display: flex;
    flex-direction: column;
    margin: 1.8vh 0 2.5vh;
}

.input {
    border: none;
    height: 4.3vh;
    border-radius: 1vh;
    padding: 0 1vh;
    font-size: 2.2vh;
}

.button {
    width: 5vh;
    height: 4.6vh;
    text-align: center;
    padding: 0;
    margin: 1.3vh auto 7vh;
    border: none;
    border-radius: 1vh;
    background-color: #000000;
    font-weight: bold;
    color: #ffffff;
    font-size: 2vh;
}

.result {
    font-size: 2.5vh;
    line-height: 3.5vh;
}

.button:hover {
    background-color: rgb(255, 147, 223);
    color: #000000;
}

@media screen and (min-width: 300px) {
    .ink-container-content-small {
        display: block;
        width: 100%;
    }
    
    .ink-container-content-medium {
        display: none; 
    }

    .ink-container-content-large {
        display: none;  
    }

    .ink-container-content-extra-large {
        display: none;  
    }

    .title-form-results {
        margin-top: 8vh;
        padding: 0 3vh;
    }

    .form-results {
        margin-top: 4vh;
    }
}

@media screen and (min-width: 426px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: block;
        width: 100%;
    }

    .ink-container-content-large {
        display: none;  
    }

    .ink-container-content-extra-large {
        display: none;  
    }
}

@media screen and (min-width: 700px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: none;
    }

    .ink-container-content-large {
        display: block;
        width: 100%;
    }

    .ink-container-content-extra-large {
        display: none;
    }

    .title-form-results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .baseline {
        text-align: center;
        margin: 3.7vh 0 0;
    }

    .form-results {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        font-size: 0.8vh;
        width: 80%;
        margin: 0;
    }

    .result {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: none;
    }

    .ink-container-content-large {
        display: block;
        width: 100%;
    }

    .ink-container-content-extra-large {
        display: none;
    }

    #app .title-form-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        width: 100%;
    }

    #app .title-baseline {
        width: 100%;
    }

    #app .title {
        text-align: center;
        width: 100%;
    }

    #app .baseline {
        text-align: center;
        margin: 3.3vh 0 0;
    }

    #app .desc {
        display: none;
    }

    #app .form-results {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #app .form {
        display: flex;
        flex-direction: column;
        font-size: 0.8vh;
        width: 100%;
        margin: 6vh 0 0;
    }

    #app .instruction {
        display: none;
    }

    #app .result {
        width: 100%;
    }
}

@media screen and (min-width: 1023px) {
    .title-form-results {
        flex-direction: row;
        width: 80%;
        margin: 17vh auto;
        align-items: flex-start;
        justify-content: center;
    }

    .title-baseline {
        width: 50%;
    }

    .title {
        padding: 0;
        text-align: left;
        width: 90%;
        font-size: 4vh;
        line-height: 5.2vh;
    }

    .baseline {
        padding: 0;
        text-align: left;
        font-size: 2.5vh;
        margin: 2.7vh 0 0;
    }

    .desc {
        display: block;
        font-size: 2.5vh;
    }

    .instruction {
        display: block;
    }

    .title-results {
        width: 50%;
    }

    .form-results {
        margin: 0;
        align-items: center;
    }

    .form {
        padding: 1.6vh 0 0;
    }

    .inputLabelContainer {
        margin: 0 0 5.7vh;
    }

    .result {
        padding: 0;
        width: 80%;
    }

}

@media screen and (min-width: 1400px) {
    .ink-container-content-small {
        display: none;
    }
    
    .ink-container-content-medium {
        display: none;
    }

    .ink-container-content-large {
        display: none;
    }

    .ink-container-content-extra-large {
        display: block;
        width: 100%;
    }
}


